<h1>Attractions</h1>
<% if @user.admin == true %>
  <%= link_to "New Attraction", new_attraction_path %>
  <p><% @attractions.all.each do |attraction| %>
    <li><%= link_to "Show #{attraction.name}", attraction_path(attraction) %></li>
    <% end %>
<% else %>
  <p><% @attractions.all.each do |attraction| %>
  <li><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></li>
  <% end %> </p>
<% end %>